name: Update Dynamic Image

permissions:
  contents: write   # PUSH İZİNİ BURADA VERİYORUZ

on:
  schedule:
    - cron: "*/5 * * * *"   # 5 dakikada bir çalışır
  workflow_dispatch:        # Manuel tetikleme

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Generate dynamic image
      run: |
        curl -o dynamic.png "https://gafsdoy85.github.io/test/index.html?username=switlydev&theme=radical&mode=general"

    - name: Commit and push changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add dynamic.png
        git commit -m "Update dynamic image" || echo "No changes"
        git push "https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/gafsdoy85/gafsdoy85.git"
